DB_HOST=yamabiko.proxy.rlwy.net
DB_PORT=47720
DB_USER=root
DB_PASS=cyzzFzKwAKsUsCLSVzKJaWKeCGWJkBbv
DB_NAME=formatos_db
CORS_ORIGINS=http://localhost:5173

# JWT
JWT_SECRET=123
JWT_EXPIRATION=24h

# App
PORT=3000
NODE_ENV=development

SISMASTER_DB_HOST=yamabiko.proxy.rlwy.net
SISMASTER_DB_PORT=47720
SISMASTER_DB_USER=root
SISMASTER_DB_PASS=cyzzFzKwAKsUsCLSVzKJaWKeCGWJkBbv
SISMASTER_DB_NAME=sismaster




# ----------- local -------------------------

DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASS=root
DB_NAME=formatos_db
CORS_ORIGINS=http://localhost:5173

# JWT
JWT_SECRET=123
JWT_EXPIRATION=24h

# App
PORT=3000
NODE_ENV=development

SISMASTER_DB_HOST=localhost
SISMASTER_DB_PORT=3306
SISMASTER_DB_USER=root
SISMASTER_DB_PASS=root
SISMASTER_DB_NAME=sismaster